@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import './fonts/Gilroy/stylesheet.css';

:root {
	--dark-teal: #114455;  
}

/* font-family: 'Work Sans', sans-serif; */
/* font-family: 'Gilroy', sans-serif; */

body {
	font-family: 'Gilroy', sans-serif;
	font-weight: 500;
}

.container {
	max-width: 1750px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-right {
	padding-left: calc((100% - 1750px) / 2 + 15px);
}

.none {
	display: none;
}

/* Header style starts*/
.header {
	min-height: 100vh;
	background-color: #E1EDF2;
	background: url(./../img/header/header-bg.jpg) center no-repeat;
	background-size: cover;
}

.header__top {
	padding: 44px 0;
	margin-bottom: 126px;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.nav__list {
	display: flex;
	align-items: center;
	column-gap: 118px;
}

.link {
	font-weight: 800;
	color: var(--dark-teal);
	font-size: 20px;
	line-height: 36px;
}

.btn {
	position: relative;
	padding: 10px 24px;
	padding-right: 72px;
	display: inline-block;

	border: 1px solid var(--dark-teal);
	border-radius: 2px;

	font-weight: 800;
	color: var(--dark-teal);
	font-size: 20px;

	transition: color 0.12s ease-in, background-color 0.12s ease-in;
}	

.btn::after {
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background: url(../img/icons/arrow-right-black.svg) center no-repeat;

	right: 24px;
	top: 50%;
	transform: translateY(-50%);
}

.btn:hover {
	background-color: var(--dark-teal);
	color: #FFFFFF;
}

.btn:active {
	top: 1px;
}

.btn:hover::after {
	background: url(../img/icons/arrow-right-white.svg) center no-repeat;
}

.btn--big {
	padding: 14px 32px;
	padding-right: 80px;
}

.btn--dark {
	background-color: var(--dark-teal);
	color: #FFFFFF;
}

.btn--dark:hover {
	background-color: #00212c;
}

.btn--dark::after {
	background: url(../img/icons/arrow-right-white.svg) center no-repeat;
}

.header__content {
	max-width: 1060px;
}

.header__title {
	margin-bottom: 48px;
	max-width: 734px;
	font-weight: 800;
	font-size: 80px;
	color: var(--dark-teal);
}

.header__text {
	margin-bottom: 72px;
	font-size: 34px;
	color: #1F1F1F;
	opacity: 0.7;
}

.header__text p + p {
	margin-top: 1em;
}

/* Header style ends*/

/* Case studies styles starts */

.case-studies {
	padding: 184px 0;
}

.case-studies__title {
	margin-bottom: 12px;
	max-width: 1070px;

	font-size: 80px;
	font-weight: 800;
	color: #1F1F1F;
}

.case-studies__text {
	margin-bottom: 100px;
	max-width: 1070px;

	font-size: 28px;
	line-height: 44px;
	opacity: 0.7;
	color: #1F1F1F;
}

/* Slider styles starts */

.slider {
}

.slider__item {
}

.slide {
	display: inline-block;
	position: relative;
	padding-left: 80px;
}

.slide__title {
	position: absolute;
	left: 0;
	bottom: 104px;
	font-size: 140px;
	font-weight: 800;
	background: linear-gradient(90deg, rgba(17,68,85,1) 80px, rgba(255,255, 255, 1) 80px);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.slide__img {

}

/* Slider styles ends */

/* Case studies styles ends */